<% provide :title, t("static_pages.help_page.help") %>
<h1><%= t "static_pages.help_page.help" %></h1>
<p>
  <%= t "static_pages.help_page.help_on" %>
  <%= link_to(t("static_pages.help_page.rails"),"http://www.railstutorial.org/hel") %>. <%= t "static_pages.help_page.to_get" %>
  <%= link_to(t("static_pages.home_page.rb_r"),"http://www.railstutorial.org/book") %>.
</p>
