<% provide :title, t("static_pages.help_page.help") %>
<h1><%= t "static_pages.help_page.help" %></h1>
<p>
  <%= t "static_pages.help_page.get_help" %>
  <%= link_to(t("static_pages.help_page.rails"),"http://www.railstutorial.org/hel") %>. <%= t "static_pages.help_page.to_get" %>
  <%= link_to(t("static_pages.home_page.ruby_rails"),"http://www.railstutorial.org/book") %>.
</p>
