<% provide :title, t("static_pages.all_user") %>
<h1><%= t "static_pages.all_user" %></h1>
<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <!-- <li>
      <%= gravatar_for user, size: Settings.user.user_all %>
      <%= link_to user.name, user %>
    </li> -->
    <%= render @users %>
  <% end %>
</ul>
<%= will_paginate %>
